@import "./variable.css";
@import "./global.css";

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:var(--font-family);
}

html {
    scroll-behavior:smooth;
    overflow-x:hidden;
    
}

body {
   transition:all 0.5s ease-in;
   overflow-x: hidden;
}

body.dark {
   background-color: #0C0C0C;
}

a {
    text-decoration:none;
}

button {
    background: transparent;
    outline:none;
    border:none;
    cursor:pointer;
}

h1,h2,h3 {
    color:var(--black-clr);
}

p {
    color:var(--subtitle-clr);
}